.NutritionPageBody {
    display: flex;
    flex-direction: column;
    background-color: black;
}
.oneDayWidget {
    height: 400px;
    width: 400px;
    background-color: black;
    margin: 20px;
    border-radius: 10%;
}

.topContainer {
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    justify-content: space-evenly;
    height: 500px;
    width: 800px;
    margin-bottom: 30px;
}

.addFoodCard {
    height: 400px;
    width: 400px;
    background-color: black;
    margin: 20px;
    border-radius: 10%;
}

.NutritionListContainer {
    display: flex;
    background-color: #00B7FF;
    flex-direction: column;
    column-gap: 20px;
    align-items: stretch;
}